@model _224LTCs_LeDucThien_138.Models.SinhVien
@{
    ViewData["Title"] = "Sinh Viên - Xem Chi Tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["HeadCollapse"] = "SinhVien";
    ViewData["SinhVien"] = "SinhVien-Detail";
}

<div class="container px-4">
    <h1 class="mt-4 text-uppercase">Sinh viên</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">
            <a asp-action="Index" asp-controller="SinhVien" class="btn-link link-secondary text-decoration-none">
                Xem danh sách
            </a>
        </li>
        <li class="breadcrumb-item active">Xem chi tiết</li>
    </ol>
    <div class="row mb-4">
        <!-- Card Ảnh Đại Diện -->
        <div class="col-md-3">
            <div class="card shadow rounded-4 text-center mb-2">
                <div class="card-body p-4">
                    <img src="@Url.Content(string.IsNullOrEmpty(Model.Anh) ? "~/assets/img/origin/avatar-default.svg" : "~/assets/img/user/" + Model.Anh)"
                         alt="Ảnh Đại Diện" class="rounded-circle mb-3" width="120" height="120" />
                    <p class="text-muted small">Mã sinh viên: <span class="fw-bold">@Model.MaSV</span></p>
                </div>
            </div>
        </div>

        <!-- Card Thông Tin -->
        <div class="col-md-9">
            <div class="card shadow rounded-4">
                <div class="card-body p-4">
                    <div class="row">
                        <div class="col-6">
                            <div class="row mb-3 align-items-center">
                                <label class="col-4 text-muted fw-bold">Khoa</label>
                                <p class="col form-control-plaintext font-monospace">@Model.TenKhoa</p>
                            </div>
                            <div class="row mb-3 align-items-center">
                                <label class="col-4 text-muted fw-bold">Chuyên Ngành</label>
                                <p class="col form-control-plaintext font-monospace">@Model.TenNganh</p>
                            </div>
                            <div class="row mb-3 align-items-center">
                                <label class="col-4 text-muted fw-bold">Niên Khóa</label>
                                <p class="col form-control-plaintext font-monospace">@Model.MaNK</p>
                            </div>
                            <div class="row mb-3 align-items-center">
                                <label class="col-4 text-muted fw-bold">Lớp Sinh Hoạt</label>
                                <p class="col form-control-plaintext font-monospace">@Model.TenLSH</p>
                            </div>
                            <div class="row mb-3 align-items-center">
                                <label class="col-4 text-muted fw-bold">Họ và Tên</label>
                                <p class="col form-control-plaintext font-monospace">@Model.TenSV</p>
                            </div>

                            <div class="row mb-3 align-items-center">
                                <label class="col-4 text-muted fw-bold">Giới Tính</label>
                                <p class="col form-control-plaintext font-monospace">@((Model.GioiTinh ? "Nam" : "Nữ"))</p>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row mb-3 align-items-center">
                                <label class="col-4 text-muted fw-bold">Ngày Sinh</label>
                                <p class="col form-control-plaintext font-monospace">@Model.NgaySinh?.ToString("dd/MM/yyyy")</p>
                            </div>

                            <div class="row mb-3 align-items-center">
                                <label class="col-4 text-muted fw-bold">CCCD</label>
                                <p class="col form-control-plaintext font-monospace">@Model.Cccd</p>
                            </div>
                            <div class="row mb-3 align-items-center">
                                <label class="col-4 text-muted fw-bold">SĐT</label>
                                <p class="col form-control-plaintext font-monospace">@Model.Sdt</p>
                            </div>
                            <div class="row mb-3 align-items-center">
                                <label class="col-4 text-muted fw-bold">Email</label>
                                <p class="col form-control-plaintext font-monospace">@Model.Email</p>
                            </div>

                            <div class="row mb-3 align-items-center">
                                <label class="col-4 text-muted fw-bold">Địa Chỉ</label>
                                <p class="col form-control-plaintext font-monospace">@Model.DiaChi</p>
                            </div>
                            
                        </div>
                    </div>

                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="d-grid mt-3">
                                <a asp-action="SuaSinhVien" asp-controller="SinhVien" asp-route-maSV="@Model.MaSV"
                                   class="btn btn-outline-primary btn-sm">Chỉnh sửa</a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    @foreach (var hp in Model.DanhSachHocPhan)
    {
        var lichHocList = Model.LichHocTheoHocPhan.ContainsKey(hp.MaHP) ? Model.LichHocTheoHocPhan[hp.MaHP] : new List<CT_LHP_SV>();

        <div class="mb-3">
            <div class="card shadow rounded-4">
                <div class="card-body">
                    <div class="mb-3">
                        <small>
                            <strong class="text-danger">*Thông tin:</strong> Danh sách lớp học phần thuộc học kỳ @hp.TenHP.
                        </small>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="table-secondary">
                                <tr>
                                    <th>Mã LHP</th>
                                    <th>Tên môn học</th>
                                    <th>Thứ</th>
                                    <th>Từ tiết</th>
                                    <th>Đến tiết</th>
                                    <th>Giảng viên</th>
                                    <th>Phòng</th>
                                    <th>Ngày học</th>
                                    <th>Ghi chú</th>
                                    <th class="text-center">Xem</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                                @for (int i = 0; i < lichHocList.Count; i++)
                                {
                                    var lh = lichHocList[i];
                                    <tr class="data-row @(i >= 10 ? "d-none" : "")">
                                        <td>@lh.MaLHP</td>
                                        <td>@lh.TenMH</td>
                                        <td class="text-center">@lh.ThuNgay</td>
                                        <td class="text-center">@lh.TietBatDau</td>
                                        <td class="text-center">@lh.TietKetThuc</td>
                                        <td>@lh.TenCB</td>
                                        <td class="text-center">@lh.TenPhong</td>
                                        <td class="text-center">@lh.NgayHoc?.ToString("dd/MM/yyyy")</td>
                                        <td class="@(string.IsNullOrEmpty(lh.LHP_GhiChu) ? "text-center" : "")">
                                            @(!string.IsNullOrEmpty(lh.LHP_GhiChu) ? lh.LHP_GhiChu : "-")
                                        </td>
                                        <td class="text-center">
                                            <a asp-action="XemChiTietLopHocPhan"
                                               asp-controller="LopHocPhan"
                                               asp-route-maLHP="@lh.MaLHP"
                                               class="text-decoration-none text-black">
                                                <i class="fa-regular fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
