<!-- Hiển thị thông báo từ TempData -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show mb-3" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Đóng"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Đóng"></button>
    </div>
}
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-secondary">
            <tr>
                <th>Mã phòng</th>
                <th>Tên phòng</th>
                <th>Sức chứa</th>
                <th colspan="3" class="text-center">Hành động</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr class="data-row @(i >= 10 ? "d-none" : "")">
                    <!-- Mặc định 10 dòng -->
                    <td>@Model[i].MaPhong</td>
                    <td>@Model[i].TenPhong</td>
                    <td>@Model[i].SucChua</td>
                    <td class="text-center">
                        <a href="#" class="text-decoration-none text-black"><i class="fa-regular fa-eye"></i></a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="text-decoration-none text-warning"
                           data-bs-toggle="modal" data-bs-target="#updatePhongModal"
                           data-maphong="@Model[i].MaPhong"
                           data-tenphong="@Model[i].TenPhong"
                           data-soluong="@Model[i].SucChua">
                            <i class="fa-duotone fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a class="text-decoration-none text-danger"
                           asp-action="XoaPhong" asp-controller="Home" asp-route-maPhong="@Model[i].MaPhong"
                           onclick="return confirm('Bạn có chắc muốn xóa phòng học này không?');">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div class="d-flex align-items-center justify-content-between">
    <div>
        Hiển thị <span id="startRow">1</span> đến <span id="endRow">10</span> trong số <span id="totalRows">@Model.Count</span> mục
    </div>

    <nav>
        <ul class="pagination m-0" id="pagination">
        </ul>
    </nav>
</div>
