@model List<_224LTCs_LeDucThien_138.Models.PhongHoc>
@{
    ViewData["Title"] = "Phòng học - Xem danh sách";
    ViewData["HeadCollapse"] = "Home";
    ViewData["Home"] = "Home-Index";
}

<div class="container-fluid px-4">
    <h1 class="mt-4 text-uppercase">Phòng học</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Xem danh sách</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header text-uppercase">
            <i class="fa-solid fa-list me-1"></i>
            Phòng học
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-6">
                    <div class="d-flex justify-content-start align-items-center">
                        <select id="rowsPerPage" class="form-select w-auto">
                            @if (Model.Count >= 50)
                            {
                                <option value="5">5</option>
                                <option value="10" selected>10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            } else if (Model.Count >= 25)
                            {
                                <option value="5">5</option>
                                <option value="10" selected>10</option>
                                <option value="25">25</option>
                            } else if (Model.Count >= 10){
                                <option value="5">5</option>
                                <option value="10" selected>10</option>
                            } else
                            {
                                <option value="5" selected>5</option>
                            }
                        </select>
                        <label for="rowsPerPage" class="ms-2 mb-0">Số lượng dòng trên bảng</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex align-items-center justify-content-end">
                        <form class="flex-grow-1">
                            <div class="d-flex justify-content-end">
                                <div class="d-md-inline-block form-inline flex-grow-1">
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="Tìm kiếm..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                                        <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <a href="#" class="ms-2 btn bg-success text-light fw-bold font-monospace"><i class="fa-solid fa-plus"></i> Thêm Mới</a>
                    </div>
                </div>
            </div>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Mã phòng</th>
                        <th>Tên phòng</th>
                        <th>Sức chứa</th>
                        <th colspan="3" class="text-center">Hành động</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    @if(Model.Count <= 5)
                    {
                        @foreach (var p in Model)
                        {
                            <tr>
                                <!-- Mặc định 10 dòng -->
                                <td>@p.MaPhong</td>
                                <td>@p.TenPhong</td>
                                <td>@p.SucChua</td>
                                <td class="text-center">
                                    <a href="#" class="text-decoration-none text-black"><i class="fa-regular fa-eye"></i></a>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="text-decoration-none text-warning"><i class="fa-duotone fa-solid fa-pen-to-square"></i></a>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="text-decoration-none text-danger"
                                       onclick="return confirm('Bạn có chắc muốn xóa phòng học này không?');">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    } else
                    {
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr class="data-row @(i >= 10 ? "d-none" : "")">
                                <!-- Mặc định 10 dòng -->
                                <td>@Model[i].MaPhong</td>
                                <td>@Model[i].TenPhong</td>
                                <td>@Model[i].SucChua</td>
                                <td class="text-center">
                                    <a href="#" class="text-decoration-none text-black"><i class="fa-regular fa-eye"></i></a>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="text-decoration-none text-warning"><i class="fa-duotone fa-solid fa-pen-to-square"></i></a>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="text-decoration-none text-danger"
                                       onclick="return confirm('Bạn có chắc muốn xóa phòng học này không?');">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <div class="d-flex align-items-center justify-content-between">
                <div>
                    Hiển thị <span id="startRow">1</span> đến <span id="endRow">10</span> trong số <span id="totalRows">@Model.Count</span> mục
                </div>

                <nav>
                    <ul class="pagination m-0" id="pagination">
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<script src="~/js/splitPage.js"></script>
