<!-- Hiển thị thông báo từ TempData -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show mb-3" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Đóng"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Đóng"></button>
    </div>
}

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-secondary">
            <tr>
                <th>Mã CB/GV</th>
                <th>Tên CB/GV</th>
                <th>Giới tính</th>
                <th>Ngày sinh</th>
                <th>Địa chỉ</th>
                <th colspan="3" class="text-center">Hành động</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr class="data-row @(i >= 10 ? "d-none" : "")">
                    <!-- Mặc định 10 dòng -->
                    <td>@Model[i].MaCB</td>
                    <td>@Model[i].TenCB</td>
                    <td>@(Model[i].GioiTinh ? "Nam" : "Nữ")</td>
                    <td>@Model[i].NgaySinh?.ToString("dd/MM/yyyy")</td>
                    <td>@Model[i].DiaChi</td>

                    <td class="text-center">
                        <a asp-action="XemChiTietCanBo" asp-controller="CanBo" asp-route-maCB="@Model[i].MaCB" class="text-decoration-none text-black">
                            <i class="fa-regular fa-eye"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a asp-action="SuaCanBo" asp-controller="CanBo" asp-route-maCB="@Model[i].MaCB" class="text-decoration-none text-warning">
                            <i class="fa-duotone fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a class="text-decoration-none text-danger"
                           asp-action="XoaCanBo" asp-controller="CanBo" asp-route-maCB="@Model[i].MaCB"
                           onclick="return confirm('Bạn có chắc muốn xóa sinh viên này không?');">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="pagination-container" class="d-flex align-items-center justify-content-between">
    <div>
        Hiển thị <span id="startRow"></span> đến <span id="endRow"></span> trong số <span id="totalRows">@Model.Count</span> mục
    </div>

    <nav>
        <ul class="pagination m-0" id="pagination">
        </ul>
    </nav>
</div>