<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Quản lý lớp học phần</div>
            <a class="nav-link collapsed @(ViewData["HeadCollapse"] == "Home"? "active" : "")" asp-area="" asp-action="Index" asp-controller="Home" data-bs-toggle="collapse" data-bs-target="#collapsePhong" aria-expanded="false" aria-controls="collapsePhong">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-list"></i></div>
                Phòng học
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapsePhong" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link @(ViewData["Home"] == "Home-Index" ? "active" : "")" asp-area="" asp-action="Index" asp-controller="Home">Danh sách</a>
                    <a class="nav-link @(ViewData["Home"] == "Home-TimKiem" ? "active" : "")" asp-area="" asp-action="TimKiem" asp-controller="Home">Tìm kiếm</a>
                </nav>
            </div>
            <a class="nav-link collapsed @(ViewData["HeadCollapse"] == "LopHocPhan"? "active" : "")" asp-area="" asp-action="Index" asp-controller="LopHocPhan" data-bs-toggle="collapse" data-bs-target="#collapseLHP" aria-expanded="false" aria-controls="collapseLHP">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-door-open"></i></div>
                Lớp học phần
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLHP" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link @(ViewData["LopHocPhan"] == "LopHocPhan-Index" ? "active" : "")" asp-area="" asp-action="Index" asp-controller="LopHocPhan">Danh sách</a>
                    <a class="nav-link @(ViewData["LopHocPhan"] == "LopHocPhan-TimKiem" ? "active" : "")" asp-area="" asp-action="TimKiem" asp-controller="LopHocPhan">Tìm kiếm</a>
                </nav>
            </div>

            <a class="nav-link collapsed @(ViewData["HeadCollapse"] == "GiangVien"? "active" : "")" asp-area="" asp-action="Index" asp-controller="GiangVien" data-bs-toggle="collapse" data-bs-target="#collapseGiangVien" aria-expanded="false" aria-controls="collapseGiangVien">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-chalkboard-user"></i></div>
                Giảng viên
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseGiangVien" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link @(ViewData["GiangVien"] == "GiangVien-Index" ? "active" : "")" asp-area="" asp-action="Index" asp-controller="GiangVien">Danh sách</a>
                    <a class="nav-link @(ViewData["GiangVien"] == "GiangVien-TimKiem" ? "active" : "")" asp-area="" asp-action="TimKiem" asp-controller="GiangVien">Tìm kiếm</a>
                </nav>
            </div>

            <a class="nav-link collapsed @(ViewData["HeadCollapse"] == "SinhVien"? "active" : "")" asp-area="" asp-action="Index" asp-controller="SinhVien" data-bs-toggle="collapse" data-bs-target="#collapseSinhVien" aria-expanded="false" aria-controls="collapseSinhVien">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-graduation-cap"></i></div>
                Sinh viên
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseSinhVien" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link @(ViewData["SinhVien"] == "SinhVien-Index" ? "active" : "")" asp-area="" asp-action="Index" asp-controller="SinhVien">Danh sách</a>
                    <a class="nav-link @(ViewData["SinhVien"] == "SinhVien-TimKiem" ? "active" : "")" asp-area="" asp-action="TimKiem" asp-controller="SinhVien">Tìm kiếm</a>
                </nav>
            </div>

            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLogin" aria-expanded="false" aria-controls="collapseLogin">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-right-to-bracket"></i></div>
                Đăng nhập
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLogin" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" asp-area="" asp-action="Admin" asp-controller="Login">Admin</a>
                    <a class="nav-link" asp-area="" asp-action="GiangVien" asp-controller="Login">Giảng viên</a>
                    <a class="nav-link" asp-area="" asp-action="SinhVien" asp-controller="Login">Sinh viên</a>
                </nav>
            </div>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Đăng nhập từ:<span class="ps-1 fw-bold">ADMIN</span></div>
    </div>
</nav>