@if (Model.Count >= 50)
{
    <option value="10" selected>10</option>
    <option value="25">25</option>
    <option value="50">50</option>
    @if (Model.Count != 10 || Model.Count != 25 || Model.Count != 50)
    {
        <option value="@Model.Count">@Model.Count</option>
    }
}
else if (Model.Count >= 25)
{
    <option value="10" selected>10</option>
    <option value="25">25</option>
    @if (Model.Count != 10 || Model.Count != 25)
    {
        <option value="@Model.Count">@Model.Count</option>
    }
}
else if (Model.Count >= 10)
{
    <option value="10" selected>10</option>
    @if (Model.Count != 10)
    {
        <option value="@Model.Count">@Model.Count</option>
    }
}
else
{
    <option value="@Model.Count">@Model.Count</option>
}